.website{
    /*background-color: #fbfbf;*/
    /*color: #5e5e5e;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 6;
}

.fixedTitleBlock{
    position: fixed;
    top: 0;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.workHeader{
    position: absolute;
    display: flex; align-items: center;
    top: 32px;
    left: 33%;
}