.container{
    position: absolute; left: 0;
    transition: transform .5s;
}
    .selected{
        transform: translateX(-25%);
    }

    .fuck{
        position: absolute;
        width: 100px; height: 100px;
        background-color: red;
        z-index: 10;
    }